*{
    margin: 0px;
    padding: 0px;
}

p.destaque{
    margin: 5px;
    width: 500px;
    padding: 5px;
    color: #FFF;
    text-align: center;
    border-radius: 5px;
    background: black;
    border: 1px solid black;
}

p#media{
    margin: 15px;
    padding: 5px;
}

p.aluno{
    margin: 0px 15px;
}

table.turma{
    margin: 0px 5px 10px 15px;
    border: 1px solid black;
}

table.turma td{
    padding: 2px;
    border: 1px solid black;
}